@charset "utf-8";

:root {
	--primary-dark: #0c0c0c;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "M PLUS Rounded 1c", sans-serif;
	color: var(--primary-dark);
}

.container {
	max-width: 1400px;
	margin: auto;
}

.inner-container {
	width: min(1000px, 100%);
}

.btn {
	outline: none;
	border: none;
	padding: 20px 50px;
	font-weight: 900;
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	color: #fcfcfc;
	background-color: #2196f3;
  background-position: center;
  transition: background 0.7s;
}

.btn:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.btn:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* ===== header ===== */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .container {
	display: flex;
	align-items: center;
	height: 100%;
}

header .site-logo {
	color: var(--primary-dark);
	text-decoration: none;
	font-weight: 900;
	font-size: 1.6rem;
	width: 300px;
}

header .song-info {
	font-size: 1.125rem;
	line-height: 1.5;
	font-weight: 500;
}

/* ===== main ===== */
main {
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

/* ----- notes ----- */
main .inner-container {
	margin-top: 120px;
}
main .inner-container .notes {
	display: flex;
	column-gap: 20px;
}
main .notes .note {
	flex: 1;
	text-align: center;
}
main .notes .note span {
	font-size: 1.5rem;
	font-weight: 900;
}
main .notes .note div {
	margin-top: 30px;
	height: 100px;
	border-radius: 10px;
	background-color: #FFFF80;
}
main .notes .note.matched div {
	background-color: #4CAF50;
}
main .notes .note.unmatched div {
	background-color: #FFFF80;
}

/* ----- frequency ----- */
main .output-control {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	column-gap: 20px;
	flex-wrap: wrap;
}

main .output-control .output {
	width: min(60%, 400px);
	padding: 25px 0;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(149, 157, 165, 0.2);
}

main .output-control .output #frequency {
	font-weight: 500;
	font-size: 1.5rem;
}
main .output-control .output #pitch {
	font-weight: 700;
	font-size: 2rem;
}

main .output-control .control {
	display: flex;
	align-items: center;
}