@charset "utf-8";

:root {
	--primary-dark: #0c0c0c;
	--primary-yellow: #F9F07A;
	--light-yellow: #FFFECB;
	--primary-blue: #2196f3;
	--light-blue: #E3F6FF;
	--primary-green: #4CAF50;
	--light-green: #E7FBE6;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "M PLUS Rounded 1c", sans-serif;
	color: var(--primary-dark);
}

.container {
	max-width: 2000px;
	padding: 0 50px;
	margin: auto;
}

.inner-container {
	max-width: 1000px;
	margin: auto;
}

.btn {
	outline: none;
	border: none;
	padding: 20px 50px;
	font-weight: 900;
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	color: #fcfcfc;
	background-color: var(--primary-blue);
	background-position: center;
	transition: background 0.7s;
}

.btn:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.btn:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

/* ===== header ===== */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid var(--primary-dark);
	box-sizing: border-box;
}

header .container, footer .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

header .site-logo {
	color: var(--primary-dark);
	text-decoration: none;
	font-weight: 900;
	font-size: 1.6rem;
}

header .song-info {
	font-size: 1.125rem;
	line-height: 1.5;
	font-weight: 500;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-flow: column wrap;
}

/* ===== main ===== */
main {
	margin-top: 120px;
	height: calc(100vh - 120px);
}

/* ----- notes ----- */
main .inner-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 70px;
}

main .inner-container .notes {
	display: flex;
	column-gap: 20px;
}

main .notes .note {
	flex: 1;
	text-align: center;
}

main .notes .note span {
	font-size: 1.5rem;
	font-weight: 900;
}

main .notes .note div {
	margin-top: 30px;
	height: 100px;
	border-radius: 10px;
	background-color: var(--primary-yellow);
}

main .notes .note.matched div {
	background-color: #4CAF50;
}

main .notes .note.unmatched div {
	background-color: var(--primary-yellow);
}

/* ----- frequency ----- */
main .output-control {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 40px;
	flex-wrap: wrap;
}

main .output-control .output {
	width: min(60%, 400px);
	padding: 25px 0;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(149, 157, 165, 0.2);
}

main .output-control .output #frequency {
	font-weight: 500;
	font-size: 1.5rem;
}

main .output-control .output #pitch {
	font-weight: 700;
	font-size: 2rem;
}

main .output-control .control {
	display: flex;
	align-items: center;
}

/* ----- keyboard ----- */
#keyboard {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	flex: 1;
	height: 100%;
}

.black-note {
	cursor: pointer;
	grid-row: 1 / span 1;
	grid-column-end: span 2;
	justify-self: center;
	background-color: var(--primary-dark);
	border: 1px solid var(--primary-dark);
	border-radius: 0 0 3px 3px;
	z-index: 2;
	padding: 0;
	width: 30%;
	height: 60%;
	box-sizing: border-box;
}

.black-note:active {
  background-color: #3c3c3c;
}

.white-note {
	cursor: pointer;
	grid-column-end: span 1;
	grid-row: 1 / span 1;
	background-color: #fff;
	border: 1px solid var(--primary-dark);
	border-radius: 0 0 5px 5px;
	border-right-width: 0px;
	box-sizing: content-box;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}

.white-note:last-of-type {
	border-right-width: 1px;
}

.white-note:active {
	background-color: #dcdcdc;
}

/* ===== index ===== */
#main-menu main {
	width: 100%;
	height: calc(100vh - 140px);
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#main-menu main a {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-flow: column wrap;
	box-sizing: border-box;
	color: var(--primary-dark);
	font-size: 2.4rem;
	line-height: 2;
	font-weight: 900;
	text-decoration: none;
	text-align: center;
	transition-duration: .2s;
	position: relative;
}

#main-menu main a:first-of-type,
#main-menu main a:nth-of-type(2) {
	border-right: 1px solid var(--primary-dark);
}

#main-menu main a:first-of-type:hover {
	background-color: var(--light-yellow);
	box-shadow: inset 20px 0 0 var(--primary-yellow);
}

#main-menu main a:nth-of-type(2):hover {
	background-color: var(--light-green);
	box-shadow: inset 20px 0 0 var(--primary-green);
}

#main-menu main a:last-of-type:hover {
	background-color: var(--light-blue);
	box-shadow: inset 20px 0 0 var(--primary-blue);
}

#main-menu main a .title span {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
}

#main-menu main a:first-of-type .title span {
	background-image: linear-gradient(to top, var(--light-yellow) 40%, transparent 0);
}

#main-menu main a:nth-of-type(2) .title span {
	background-image: linear-gradient(to top, var(--light-green) 40%, transparent 0);
}

#main-menu main a:last-of-type .title span {
	background-image: linear-gradient(to top, var(--light-blue) 40%, transparent 0);
}

#main-menu main a .icon {
	transition: transform .4s ease-in-out;
}

#main-menu main a:hover .icon {
	transform: scale(1.25);
}

#main-menu main a .icon svg {
	width: 100px;
	height: 100px;
}

#main-menu main a::after {
	content: "";
	position: absolute;
	right: 0;
	margin-right: 50px;
	transition: 0.5s;
}

#main-menu main a:hover::after {
	content: "→";
	margin-right: 40px;
}

#main-menu footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: 1px solid var(--primary-dark);
	box-sizing: border-box;
}

#main-menu footer .container {
	justify-content: flex-end;
}

#main-menu footer .footer-title {
	color: var(--primary-dark);
	font-weight: 900;
	font-size: 1.2rem;

}