@charset "utf-8";

:root {
	--primary-dark: #0c0c0c;
	--primary-yellow: #F9F07A;
	--light-yellow: #FFFECB;
	--primary-blue: #2196f3;
	--light-blue: #E3F6FF;
	--primary-green: #4CAF50;
	--light-green: #E7FBE6;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "M PLUS Rounded 1c", sans-serif;
	color: var(--primary-dark);
}

.container {
	max-width: 2000px;
	padding: 0 50px;
	margin: auto;
}

.inner-container {
	max-width: 1000px;
	margin: auto;
}

.btn {
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fcfcfc;
	background-color: var(--primary-blue);
	background-position: center;
	transition: background 0.7s;
}

.btn.btn-doremi-start {
	padding: 20px 50px;
	font-weight: 900;
	font-size: 1.5rem;
}

.btn.btn-song-start,
.btn-outline {
	padding: 10px 30px;
	font-weight: 700;
	font-size: 1.2rem;
}

.btn:hover,
#btn-low-key:hover,
#btn-high-key:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.btn:active,
#btn-low-key:active,
#btn-high-key:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

.btn-outline {
	outline: none;
	border: 1px solid var(--primary-blue);
	border-radius: 10px;
	cursor: pointer;
	color: var(--primary-blue);
	background-color: #fff;
	transition-duration: .2s;
}

.btn-outline:hover {
	color: #fff;
	background-color: var(--primary-blue);
}

.btn-outline:focus {
	color: #fff;
	background-color: #47a7f5;
}

/* ===== header ===== */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid var(--primary-dark);
	box-sizing: border-box;
	background-color: #fff;
	z-index: 100;
}

header .container,
footer .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

header .site-logo {
	color: var(--primary-dark);
	text-decoration: none;
	font-weight: 900;
	font-size: 1.6rem;
}

header .song-info {
	font-size: 1.125rem;
	line-height: 1.5;
	font-weight: 500;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-flow: column wrap;
}

/* ===== main ===== */
#doremi-v main {
	margin-top: 120px;
	height: calc(100vh - 120px);
}

/* ----- notes ----- */
main .inner-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 70px;
}

main .inner-container .notes {
	display: flex;
	column-gap: 20px;
}

main .notes .note {
	flex: 1;
	text-align: center;
}

main .notes .note span {
	font-size: 1.5rem;
	font-weight: 900;
}

main .notes .note div {
	margin-top: 30px;
	height: 100px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.125rem;
	font-weight: 500;
	background-color: var(--primary-yellow);
}

main .notes .note.matched div {
	background-color: #4CAF50;
}

main .notes .note.unmatched div {
	background-color: var(--primary-yellow);
}

/* ----- frequency ----- */
main .output-control {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 40px;
	flex-wrap: wrap;
}

main .output-control .output {
	width: min(60%, 400px);
	padding: 25px 0;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(149, 157, 165, 0.2);
}

main .output-control .output #frequency,
main .output-control .key-change #current-key,
#range-detected {
	font-weight: 500;
	font-size: 1.5rem;
}

main .output-control .output #pitch {
	font-weight: 700;
	font-size: 2rem;
}

main .output-control .control {
	display: flex;
	align-items: center;
}

main .output-control .key-change {
	display: flex;
	align-items: center;
}

main .output-control .key-change #current-key {
	padding: 0 10px;
}

#btn-low-key,
#btn-high-key {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	background-color: var(--primary-blue);
	border-radius: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-position: center;
	transition: background 0.7s;
}

/* ----- keyboard ----- */
#keyboard {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	flex: 1;
	height: 100%;
}

.black-note {
	cursor: pointer;
	grid-row: 1 / span 1;
	grid-column-end: span 2;
	justify-self: center;
	background-color: var(--primary-dark);
	border: 1px solid var(--primary-dark);
	border-radius: 0 0 3px 3px;
	z-index: 2;
	padding: 0;
	width: 30%;
	height: 60%;
	box-sizing: border-box;
}

.black-note:active {
	background-color: #3c3c3c;
}

.white-note {
	cursor: pointer;
	grid-column-end: span 1;
	grid-row: 1 / span 1;
	background-color: #fff;
	border: 1px solid var(--primary-dark);
	border-radius: 0 0 5px 5px;
	border-right-width: 0px;
	box-sizing: content-box;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}

.white-note:last-of-type {
	border-right-width: 1px;
}

.white-note:active {
	background-color: #dcdcdc;
}

/* ===== footer ===== */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: 1px solid var(--primary-dark);
	box-sizing: border-box;
	background-color: #fff;
}


/* ===== index ===== */
#main-menu main {
	width: 100%;
	height: calc(100vh - 140px);
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#main-menu main a {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-flow: column wrap;
	box-sizing: border-box;
	color: var(--primary-dark);
	font-size: 2.4rem;
	line-height: 2;
	font-weight: 900;
	text-decoration: none;
	text-align: center;
	transition-duration: .2s;
	position: relative;
}

#main-menu main a:first-of-type,
#main-menu main a:nth-of-type(2) {
	border-right: 1px solid var(--primary-dark);
}

#main-menu main a:first-of-type:hover {
	background-color: var(--light-yellow);
	box-shadow: inset 20px 0 0 var(--primary-yellow);
}

#main-menu main a:nth-of-type(2):hover {
	background-color: var(--light-green);
	box-shadow: inset 20px 0 0 var(--primary-green);
}

#main-menu main a:last-of-type:hover {
	background-color: var(--light-blue);
	box-shadow: inset 20px 0 0 var(--primary-blue);
}

#main-menu main a .title span {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
}

#main-menu main a:first-of-type .title span {
	background-image: linear-gradient(to top, var(--light-yellow) 40%, transparent 0);
}

#main-menu main a:nth-of-type(2) .title span {
	background-image: linear-gradient(to top, var(--light-green) 40%, transparent 0);
}

#main-menu main a:last-of-type .title span {
	background-image: linear-gradient(to top, var(--light-blue) 40%, transparent 0);
}

#main-menu main a .icon {
	transition: transform .4s ease-in-out;
}

#main-menu main a:hover .icon {
	transform: scale(1.25);
}

#main-menu main a .icon svg {
	width: 100px;
	height: 100px;
}

#main-menu main a::after {
	content: "";
	position: absolute;
	right: 0;
	margin-right: 50px;
	transition: 0.5s;
}

#main-menu main a:hover::after {
	content: "→";
	margin-right: 40px;
}

#main-menu footer .container {
	justify-content: flex-end;
}

#main-menu footer .footer-title {
	color: var(--primary-dark);
	font-weight: 900;
	font-size: 1.2rem;
}

/* ===== train-with-song ===== */
#song-v main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#btn-play, 
#btn-low-key-play, 
#btn-reset {
	display: none;
}

#pitch-canvas {
	width: calc(100vh - 140px);
	height: 100vw;
	transform: rotate(-90deg);
	display: none;
}

#start-line {
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	background-color: #E8423B;
	opacity: 0;
	transition-duration: 0.4s;
}

#lyrics {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 50%;
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
}

#song-v footer .container,
#visualizer-v footer .container {
	justify-content: center;
	gap: 20px;
}

#find-pitch {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-flow: column wrap;
	gap: 20px;
}

#range-detected {
	margin: 0.67em 0;
	min-width: 500px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(149, 157, 165, 0.2);
	position: relative;
	overflow: hidden;
}

#range-detected.animate-duration::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	background-color: var(--primary-yellow);
	width: 0;
	-webkit-animation: soundDuration 3s infinite linear;
	animation: soundDuration 3s infinite linear;
}

@keyframes soundDuration {
	to {
		width: 100%;
	}
}

.wave-wrapper {
	height: 40px;
	width: 50px;
	display: block;
	margin: auto;
	position: relative;
}

.wave-line {
	display: block;
	bottom: 0px;
	width: 6px;
	height: 20px;
	position: absolute;
	-webkit-animation: wave 1.2s infinite ease paused;
	animation: wave 1.2s infinite ease paused;
	background: var(--primary-yellow);
	border-radius: 4px;
}

.wave-line:nth-child(2) {
	left: 10px;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.wave-line:nth-child(3) {
	left: 20px;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.wave-line:nth-child(4) {
	left: 30px;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.wave-line:nth-child(5) {
	left: 40px;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

@keyframes wave {
	0% {
		height: 20px;
	}

	50% {
		height: 40px;
		transform: translateY(10px);
	}

	100% {
		height: 20px;
	}
}

/* ===== Visualizer ===== */
#visualizer-v {
	overflow: hidden;
}
#visualizer-v .wrapper {
	position: fixed;
	height: calc(100vh - 70px);
	top: 70px;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	gap: 50px;
	box-sizing: border-box;
	max-width: 800px;
	left: 50%;
	transform: translateX(-50%);
}

#visualizer-v .wrapper h2 {
	text-align: center;
}

#visualizer-v .wrapper .row {
	display: flex;
	flex-flow: wrap;
	box-sizing: border-box;
	gap: 50px;
}

#visualizer-v .wrapper .row.center {
	align-items: center;
}

#visualizer-v .wrapper .row .col-title {
	width: 200px;
	font-size: 1.15rem;
	font-weight: 500;
	text-align: right;
}

#visualizer-v .wrapper .row .col-input {
	flex: 1;
	display: flex;
	flex-flow: column wrap;
	gap: 30px;
}

#visualizer-v input, 
#visualizer-v select {
	padding: 0 10px 10px;
	outline: none;
	border: none;
	font-size: 1.15rem;
	font-weight: 500;
	border-bottom: var(--primary-dark) 1px solid;
}

.checkbox-btn span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #ddd;
	transition: 0.1s;
}

.checkbox-btn span::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 8px;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: scale(0) rotate(-45deg);
	position: relative;
	bottom: 4px;
	transition: 0.3s;
}

.checkbox-btn input {
	display: none;
}

.checkbox-btn input:checked ~ span {
	background-color: var(--primary-blue);
}

.checkbox-btn input:checked ~ span::before {
	transform: scale(1) rotate(-45deg);
}

#visualizer-v canvas {
	z-index: -1;
}

#settings {
	z-index: 1000;
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
}

#start-screen, #pause-screen {
	background-color: #0c0c0c;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	gap: 20px;
	overflow: hidden;
}

#start-screen {
	z-index: 100;
}

#start-screen h1,
#pause-screen h1 {
	font-size: 6rem;
	color: #fcfcfc;
	letter-spacing: 5px;
	margin: 0;
}

#start-screen h1::before {
	content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2196f32d;
  filter: blur(60px);
}

#start-screen p {
	font-size: 2rem;
	font-weight: 500;
	color: var(--light-blue);
}

#start-screen .lines {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: auto;
	width: 100%;
}

#start-screen .line {
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

#start-screen .line::after {
	content: "";
	display: block;
	position: absolute;
	height: 15vh;
	width: 100%;
	top: -50%;
	left: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--light-blue) 75%, var(--light-blue) 100%);
	animation: drop 10s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

#start-screen .line:nth-child(1) {
	margin-left: -25%;
}

#start-screen .line:nth-child(1)::after {
	animation-delay: 4s;
}

#start-screen .line:nth-child(3) {
	margin-left: 25%;
}

#start-screen .line:nth-child(3)::after {
	animation-delay: 6s;
}

@keyframes drop{
  0% { top: -50%; }
  100% { top: 110%; }
}

#pause-screen {
	z-index: 90;
	display: none;
}

#pause-screen h1 {
	width: 100%;
	text-align: center;
	z-index: 100;
}

#pause-screen .animate-gradient {
	display: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(80deg, rgb(6, 7, 39), rgb(2, 1, 2), #2196f32d);
}

.animate-gradient .up,
.animate-gradient .down,
.animate-gradient .right,
.animate-gradient .left {
	position: absolute;
	border-radius: 50%;
	filter: blur(100px);
}

.animate-gradient .up {
	height: 800px;
	width: 800px;
	background: linear-gradient(217deg,rgba(19, 12, 119, 0.5), rgba(255,0,0,0) 70.71%),
					linear-gradient(127deg, rgba(19, 12, 119, 0.5), rgba(0,255,0,0) 70.71%),
					linear-gradient(336deg,rgba(19, 12, 119, 0.3), rgba(0,0,255,0) 70.71%);
	animation: down 15s infinite;
}

.animate-gradient .down {
	right: 0;
	height: 500px;
	width: 500px;
	background-image: linear-gradient(10deg, var(--primary-blue),
					rgb(2, 1, 2), #2196f32d);
	animation: up 30s infinite;
}

.animate-gradient .left {
	height: 800px;
	width: 500px;
	background-image: linear-gradient(10deg, var(--primary-blue),
	rgb(2, 1, 2), #2196f32d);
	animation: left 45s infinite;
}

.animate-gradient .right {
	height: 500px;
	width: 500px;
	background-image: linear-gradient(10deg, var(--primary-blue),
	rgb(2, 1, 2), #2196f32d);
	animation: right 40s infinite;
}

@keyframes down {
	0%, 100% { top: -100px; }
	70% { top: 700px; }
}

@keyframes up {
	0%, 100% { bottom: -100px; }
	70% { bottom: 700px; }
}

@keyframes left {
	0%, 100% { left: -100px; }
	70% { left: 1300px; }
}

@keyframes right {
	0%, 100% { right: -100px; }
	70% { right: 1300px; }
}

.star {
	--size: 20vmin;
	--holes: calc(var(--size)*.495);
	width: var(--size);
	aspect-ratio: 1/1;
	position: fixed;
	background: var(--primary-yellow);
	--mask: radial-gradient(var(--holes) at var(--holes) var(--holes), #0000 99%, #000) calc(var(--holes)*-1) calc(var(--holes)*-1);
	-webkit-mask: var(--mask);
	mask: var(--mask);
	border-radius: 50%;
	animation: sparkle 1.5s linear forwards;
}

@keyframes sparkle {
	0% {
		transform: scale(0);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.bubble {
	position: absolute;
	bottom: -100px;
	background: rgba(137, 207, 240, .9);
	border-radius: 50%;
	animation: rise 5s forwards;
	z-index: 10000;
}

@keyframes rise {
	to {
		transform: translateY(-100vh);
		opacity: 0;
	}
}